
@{
    ViewData["Title"] = "NotFound";
}

<div class="error-404 clearfix">
    <div class="breadcrumb clearfix">
        <span>
            شما اینجا هستید:
        </span>
        <a href="#">صفحه اصلی</a>&nbsp;»&nbsp;<a href="#" class="current-page">404</a>
    </div><!--end:breadcrumb-->
    <div class="right-404-col">
        <p>404</p>
    </div><!--right-404-col-->
    <div class="left-404-col">
        <h1>
            صفحه پیدا نشد
        </h1>
        <p>ممکن است صفحه ای که به دنبال آن میگردید حذف شده باشد و یا آدرس آن را به درستی وارد نکرده باشید</p>
        <ul class="unorder-list">
            <li>
                <a href="/Home">
                    رفتن به صفحه اصلی
                </a>
            </li>
        </ul>
    </div><!--left-404-col-->
</div>
