@model News.DataLayer.Entities.User.User
@section HeaderImage{
    <div class="background"></div>
    <div class="overlay"></div>
}
<div style="direction: rtl; padding: 20px">
    <h2>@Model.UserName عزیز !</h2>
    <p>با تشکر از ثبت نام شما، جهت ادامه کار میبایست لاگین کنید</p>
    <p>
        <a href="/Login">لاگین</a>
    </p>
</div>
