@model News.Core.DTOs.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}

<div class="login-box">
    <div class="login-logo">
        <a href="/ForgotPassword"><b>بازیابی کلمه عبور</b></a>
        @if (ViewBag.IsSuccess!=null && ViewBag.IsSuccess == true)
        {
            <div class="alert alert-success">
                <p class="help-block">ایمیل بازیابی کلمه عبور برای شما ارسال شد</p>
            </div>
        }
        else if(ViewBag.IsSuccess == false)
        {
            <div class="alert alert-danger">
                <p class="help-block">عملیات با شکست مواجه شد.</p>
            </div>
        }
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">لطفا ایمیل خود را جهت بازیابی کلمه عبور وارد کنید.</p>

        <form asp-action="ForgotPassword" method="post">
            <div class="form-group has-feedback">
                <input asp-for="Email" type="email" class="form-control" placeholder="ایمیل">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row">
                <!-- /.col -->
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">تأیید</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <!-- /.social-auth-links -->
    </div>
    <!-- /.login-box-body -->
</div>